<div class="row">
  <div class="col-auto">
    <h2 class="font-bold text-2xl mb-2 md:mt-4 md:text-4xl text-gray-800 tracking-normal">Welcome, {{name}}!</h2>
  </div>
</div>
<br>
{{#if posts.length}}
<div class="card flex-column">
  {{#each posts as |post|}}
  {{> editItem post}}
  {{/each}}
</div>
<center>
<a rel="noreferrer noopener" href="/dashboard/new"
  class="bg-blue-500 hover:bg-blue-600 text-white rounded-full px-8 py-3">
  ➕ Create a new post
</a>
</center>
{{else}}
<a rel="noreferrer noopener" href="/dashboard/new"
  class="bg-blue-500 hover:bg-blue-600 text-white rounded-full px-8 py-3">
  ➕ Create a new post
</a>
{{/if}}
<div class="py-8"></div>